<%- include('./Partials/head') %>

<section class="main-title-2">
    <h1>Rivers</h1>
</section>

<main>

<section class="main-rivers">

<ul class="accordion">
  <% systems.forEach(river=> { %>
    <li>
        <input type="radio" name="accordion" id="<%= river.id %>">
        <label for="<%= river.id %>"><%= river.location_description %></label>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </div>
    </li>  
  <%}) %>
</ul>

</section>

</main>

<%- include('./Partials/foot') %>